body {
    margin: auto;
    background-image: linear-gradient(rgba(114, 134, 211, 0.3), rgba(142, 167, 233, 0.3), rgba(255, 231, 204, 0.3), rgba(235, 199, 230, 0.3));  
}

header {
    text-align: center;
    padding: 30px ;
    background-color: #da245b;
    /* background-image: url(../media/nav_bar.jpg); */
}

header nav a {
    color: beige;
    font-family: 'Roboto', sans-serif;
    margin: 0% 10%;
    padding: 1em;
    border-style: solid  ;
}

header nav a:hover {
    background-color: palevioletred;
}

h1 {
    font-family: 'Gloock', serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #da245b;
}

ul {
    list-style-type: none;
    margin: 2%;
    padding-left: 20px;
  }

ul:hover {
    background-color: rgba(114, 134, 211, 0.2);
    border-left: 0.5rem solid navy ;
}

ul li a {
    font-size: 100%;
    color: #1E3163;
    font-family: 'Roboto', sans-serif;
}

.grid {
    border-style: double;
}

h2 {
    font-family: 'Gloock', sans-serif;
    padding-left: 50px;
    color: #3F0071;
}

h3 {
    font-family: 'Lato', sans-serif;
    padding-left: 100px;
}

.blogParagraph {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 2px 100px;

}

.date {
    font-weight: 50;
    padding-left: 50px;
}

#imgNotice1 {
    float: right;
}

footer {
    margin: 0% 35%;
    padding: 1em;
    border-style: double;
}

#footer_img {
    float: right;
    border-radius: 50%;
    width: 10%;
}







